<!DOCTYPE html>
<html>
<head>

	<title>SpeakUp Mithila</title>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/5.13.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/d7748739a9.js" crossorigin="anonymous"></script>
    <style>
    #content{
	text-align: center;
}
h4{
	color: whitesmoke;
}
h6{
	color:  whitesmoke;
}
.jumbotron{
	
	margin-top: 10px; 
	text-align: center;
}
body{
           background-color: #43464b;
       }
	   img{
        width: 100%;
        padding: 10px;
      }

.footer-wrapper{
	width: 100%;
	height: auto;
	min-height: 250px;
	margin:auto;
	background-color: #334046; 
}
.footer-social-icons{
	width: 100%;
	height: auto;
	margin: auto;
}
.footer-social-icons ul{
	margin:0px;
	padding: 0px;
	text-align: center; 
}
.footer-social-icons ul li{
	display: inline-block;
	margin-right: 2px;
	width: 36px;
	height: 36px;
	text-align: center;
	margin-bottom: 10px;
}
.footer-social-icons ul li a{
	color: #fff;
	display: block;
	font-size: 22px;
	text-shadow: 0px 0px 5px rgba(0,0,0,0.75);
}
.footer-social-icons ul li a i{
line-height: 36px;
}
.footer-social-icons ul li:nth-child(1){
	background: #3b5998; 
}
.footer-social-icons ul li:nth-child(2){
	background: #1da1f2; 
}
.footer-social-icons ul li:nth-child(3){
	background: #3f729b ; 
}
.footer-social-icons ul li:nth-child(4){
	background: #FF0000; 
}
.footer-social-icons ul li:nth-child(5){
	background: #25d366; 
}
.footer-mid-part{
	width: 100%;
	height: auto;
	margin: auto;
}
.footer-section-one{
	width: 100%;
	height: auto;
	margin: auto;
	padding: 20px 20px;
}
.footer-section-two{
	width: 100%;
	height: auto;
	margin: auto;
	padding: 20px 20px;
}
.footer-section-three{
	width: 100%;
	height: auto;
	margin: auto;
	padding: 20px 20px;
}
.footer-section-four{
	width: 100%;
	height: auto;
	margin: auto;
	padding: 20px 20px;
}
.footer-heading{
	width: 100%;
	height: auto;
	margin: auto;
}
.footer-heading h2{
	font-size: 18px;
	text-align: left;
	color: #fff;
	text-transform: uppercase;
	margin: 0px;

}
.footer-contact-box{
	width: 100%;
	height: auto;
	
	margin-top: 13px;
}
.footer-contact-icon
{
	width: 25px;
	height: 25px;
	

}
.footer-contact-icon i{
	color:#fff;
	font-size: 20px;
	
}   
	</style>
	
</head>


<body>
<nav class="navbar navbar-dark bg-dark" >
	<div class="container">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
 			 <a class="navbar-brand" href="/">SpeakUp Mithila</a>
 				 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
 				   <span class="navbar-toggler-icon"></span>
 				 </button>
 		 <div class="collapse navbar-collapse" id="navbarNav">
  			  <ul class="navbar-nav">
     			 <li class="nav-item active">
    			   <a class="nav-link" href="/home">Home<span class="sr-only">(current)</span></a>
     			 </li>
     			 <li class="nav-item active">
     			   <a class="nav-link" href="/aboutus">About Us</a>
     			 </li>
      			<li class="nav-item active">
        		<a class="nav-link" href="/events">Events</a>
	 			 </li>
	 
  </ul>

 </div>
</nav> 
</div>
</nav>



<div class="container">
	<div class="jumbotron">
		<h1>Speak Up Mithila</h1>
		<p>Community dedicated to literature, art and culture.</p>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div id="content">
				<h4 style="color:  whitesmoke;">ABOUT SPEAKUP MITHILA</h4>
				<hr>
				
				<h6 style="color:  whitesmoke;">		
					SpeakUp Mithila is a community based in Mithila, Bihar which is connecting writers, poets, storytellers, comics, parodies, musicians and others on a global platform. Founded in February 2019, we have successfully connected hundreds of artists across  Mithilanchal including Nepal. We started organising  projects like SUM Open Mic, SUM Writing Workshops to encourage literature and art. We have been actively showing our presence in literature and cultural festivals where various artists come together to perform, create, learn, enjoy and network with like-minded people.
				</h6>	
			</div>
			<hr>
		</div>
		
</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-lg-4 col-md-6">
			<div class="thumbnail">
				<img src="op1.jpg">
			</div>
		</div>
		<div class="col-lg-4 col-md-6">
			<div class="thumbnail">
				<img src="op2.jpg">
			</div>
		</div>
		<div class="col-lg-4 col-md-6">
			<div class="thumbnail">
				<img src="op3.jpg">
			</div>
		</div>
		<div class="col-lg-4 col-md-6">
			<div class="thumbnail">
				<img src="op4.jpg">
			</div>
		</div>
		<div class="col-lg-4 col-md-6">
			<div class="thumbnail">
				<img src="mlf.jpg">
			</div>
		</div>
		<div class="col-lg-4 col-md-6">
			<div class="thumbnail">
				<img src="sp.jpg">
			</div>
		</div>

	</div>
	<hr>
</div>

<!-- <div class="container">
	<div class="col-lg-12">
		<div id="content">
			<h4 >OUR TEAM</h4>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-lg-4 col-md-6">
			<div class="thumbnail">
				<img src="download.jpg">
				<h6> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since th</h6>
			</div>
		</div>
		<div class="col-lg-4 col-md-6">
			<div class="thumbnail">
				<img src="download.jpg">
				<h6> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since th</h6>
			</div>
		</div>
		<div class="col-lg-4 col-md-6">
			<div class="thumbnail">
				<img src="download.jpg">
				<h6> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since th</h6>
			</div>
		</div>
	</div>
</div> -->

<div class="container">
	<div class="col-lg-12">
		<div id="content">
			<h4 >OUR PARTNERS</h4>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-lg-2 col-md-6" style="width: 30%; ">
			<div class="thumbnail" >
				<img src="frolly.jpg">
			</div>
		</div>
		<div class="col-lg-2 col-md-6"style="width: 30%; " >
			<div class="thumbnail">
				<img src="bm.jpg">
			</div>
		</div>
		<div class="col-lg-2 col-md-6"style="width: 30%; ">
			<div class="thumbnail">
				<img src="ss.jpg">
			</div>
		</div>
		<div class="col-lg-2 col-md-6"style="width: 30%; ">
			<div class="thumbnail">
				<img src="co8.jpg">
			</div>
		</div>
		<div class="col-lg-2 col-md-6"style="width: 30%; ">
			<div class="thumbnail">
				<img src="hr.jpg">
			</div>
		</div>



		</div>
</div>


<div class="footer-wrapper">
	<div class="container-fluid">
		<div class="footer-social-icons">
			<ul>
				<li><a href="http://www.facebook.com/speakupmithilaa" target="_blank" ><i class="fab fa-facebook-f"></i></a></li>
				<li><a href="http://www.twitter.com/speakupmithila" target="_blank" ><i class="fab fa-twitter"></i></a></li>
				<li><a href="http://www.instagram.com/speakupmithila" target="_blank" ><i class="fab fa-instagram"></i></a></li>
				<li><a href="https://www.youtube.com/channel/UCNZgYgcJKL_0s-YdJR0XusA" target="_blank" ><i class="fab fa-youtube"></i></a></li>
				<li><a href="https://chat.whatsapp.com/HJC5n30kDgo39ZBxvjKEDG" target="_blank" ><i class="fab fa-whatsapp"></i></a></li>
			</ul>
		</div>
		<div class="footer-mid-part">
			<div class="row">
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="footer-section-one">
						<div class="footer-heading"><h2>SpeakUp Mithila</h2>
						<br>
						<p style="color: white;">SpeakUp Mithila is a community based in Mithila, Bihar which is connecting writers, poets, storytellers, comics, parodies, musicians and others on a global platform. Founded in February 2019, we have successfully connected hundreds of artists across Mithilanchal including Nepal. </p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="footer-section-two">
						<div class="footer-heading" ><h2>Quick Links</h2>
							<br>
							<a href="/events"><li style="color:white;">Events</li></a>
							<a href="/home"><li style="color:white;">Home</li></a>
							<a href="/aboutus"><li style="color:white;">About Us</li></a>	
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="footer-section-three">
						<div class="footer-heading"><h2>Contact us</h2>
						<br>
						<i class="fas fa-phone" style="color: white;"></i>
						<h6 style="color: white;">7301619101</h6>
						<i class="fas fa-envelope-square" style="color: white;"></i>
						<h6 style="color: white">speakupmithila@gmail.com</h6>
						<h6>Adderss :-</h6>
						<h6><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3575.135476897348!2d86.06814781503316!3d26.354479783371225!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39edcd3a3a03054d%3A0x4270cf8ffc638ee0!2sSpeakUp%20Mithila!5e0!3m2!1sen!2sin!4v1588322366107!5m2!1sen!2sin" width="100" height="100" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></h6>

						</div>

					</div>
					
				</div>
				

			</div>
			<div class="col-lg-12" style="text-align: center;color: whitesmoke;">
				@Developed by Onlinedisruptor
			</div>
		</div>
	</div>
	
</div>

<script src="https://code.jquery.com/jquery-3.4.1.js" ></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" ></script>
</body>
</html>