<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Events</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/5.13.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/d7748739a9.js" crossorigin="anonymous"></script>
</head>
<style>
 body{
           background-color: #43464b;
          
       }
     


     .middle{
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50% , -50%);
       text-align: center;
     }

     .btn{
       background: none;
       border: 2px solid #000;
       font-family: "montserrat" , sans-serif;
       text-transform: uppercase;
       padding: 12px 20px;
       min-width: 200px;
       margin: 10px;
       cursor: pointer;
       transition: color 0.4s linear;
      position: relative;
     }
     .btn:hover{
       color: #fff;
     }
     .btn::before{
       content: "";
       position: absolute;
       left: 0;
       top: 0;
       width: 100%;
       height: 100%;
       background: #000;
       z-index: -1;
       transition: transform 0.5s;
       transform-origin: 0 0 ;
       transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
     }
     .btn1::before{
       transform: scaleX(0);
     }
     .btn2::before{
       transform: scaleY(0);
     }
     .btn1:hover::before{
       transform: scaleX(1);
     }
     .btn2:hover::before{
       transform: scaleY(1);
     }
</style>
<body>
    
    <nav class="navbar navbar-dark bg-dark" >
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">SpeakUp Mithla</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/home">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/aboutus">About Us</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/events">Events</a>
          </li>
            
         
         
      </ul>
     </div>
    </nav> 
    </nav>
      </div>
    

    <div class="middle">
      <form action="/upcoming" method="GET">
        <button  class="btn btn1" >UPCOMING EVENTS</button> 
      </form>
      <form action="/past" method="GET">
        <button class="btn btn2">PAST EVENTS</button> 
      </form>
    </div>
     
    


<script src="https://code.jquery.com/jquery-3.4.1.js" ></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" ></script>
</body>
</html>